.dogCard {
    background-color: rgb(255, 173, 21);
    padding: 1em;
    width: 15em;
    border-radius: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: .5em;
    color: white;
}

.dogCard .header {
    padding: .25em;
}

.dogImage {
    display: flex;
    align-items: center;
    flex: 1;
}

.dogImg {
    width: 13em;
    height: auto;
}