.btn {
    padding: 1em 3em;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(255, 173, 21);
    color: white;
    border: white 2px solid;
    border-radius: .5em;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(255, 196, 21);
}
.btn:focus {
    background-color: rgb(255, 173, 21);
}