.dogsDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    max-width: 80em;
    border-radius: 1em;
}

.overflow {
    overflow-y: scroll;
    height: 30em;
}