.authForm {
    width: 32em;
    gap: 0.5em;
}

.authForm input {
    padding: .5em;
}

.loginBtn {
    margin: 1em 8em;
    padding: 1em;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(255, 173, 21);
    color: white;
    border: white 2px solid;
    border-radius: .5em;
    cursor: pointer;
}